
ul li {
    list-style: none;
}


.navbar{
    border-bottom: 2px solid #ccc;
}
.container{
    margin: auto;
    width: 80%;
    padding: 2rem;
}

.left{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.lists{
    display: flex;
    justify-content: space-evenly;
}


.navbar-brand img{
    width: 70px;
    height: 50px;
    border-radius: 20px;
}
.custom-container{
    width: 80%;
    margin: auto;
}
.custom.pending{
    font-size: 30px;
}
.nav-item a{
    text-decoration: none;
    font-size: 20px;
    color: crimson;
}
.nav-item a.active{
    color: rgb(49, 4, 4);

}